@font-face {
  font-family: tailrecursive;
  font-weight: 300 1000;
  font-stretch: 80% 120%;
  font-style: oblique 0deg 14deg;
  font-display: swap;
  src: url('/fonts/tailrecursive-subset-latin.woff2');
  unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+304,U+308,U+329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: tailrecursive;
  font-weight: 300 1000;
  font-stretch: 80% 120%;
  font-style: oblique 0deg 14deg;
  font-display: swap;
  src: url('/fonts/tailrecursive-subset-latin-ext.woff2');
  unicode-range: U+100-130,U+132-151,U+154-24F,U+259,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: tailrecursive;
  font-weight: 300 1000;
  font-stretch: 80% 120%;
  font-style: oblique 0deg 14deg;
  font-display: swap;
  src: url('/fonts/tailrecursive-subset-greek.woff2');
  unicode-range: U+370-3FF;
}

@font-face {
  font-family: tailrecursive;
  font-weight: 300 1000;
  font-stretch: 80% 120%;
  font-style: oblique 0deg 14deg;
  font-display: swap;
  src: url('/fonts/tailrecursive-subset-all.woff2');
  unicode-range: U+250-258,U+25A-2BA,U+2BD-2C5,U+2C7-2D9,U+2DB,U+2DD-303,U+305-307,U+309-328,U+32A-36F,U+530-1C7F,U+1C89-1DFF,U+2070-209F,U+20D0-2112,U+2114,U+2115,U+2117-2121,U+2123-2190,U+2192,U+2194-2211,U+2213,U+2214,U+2216-2C5F,U+2C80-2DDF,U+2E00-A63F,U+A6A0-A71F,U+A800-FE2D,U+FE30-FEFE,U+FF00-FFFC,U+FFFE,U+FFFF;
}

:root {
  --font-normal: tailrecursive;
  --font-code: tailrecursive;

  font-size: 18px;

  --color-background: rgb(11, 14, 12);
  --color-text: rgb(228, 223, 218);
  --color-h1: rgb(253, 228, 211);
  --color-h2: rgb(228, 222, 188);
  --color-h3: rgb(249, 134, 116);
  --color-bold: rgb(245, 236, 228);
  --color-small: rgb(190, 178, 158);
  --color-box: rgb(0, 20, 14);
  --color-code: rgb(159, 176, 255);

  --size-page: 1200px;
  --size-mobile: 700px;
  --size-dppx: 1;

  @media (min-resolution: 1.5x) {
    --size-dppx: 1.5;
  }
  @media (min-resolution: 2x) {
    --size-dppx: 2;
  }
  @media (min-resolution: 2.5x) {
    --size-dppx: 2.2;
  }
  @media (min-resolution: 3x) {
    --size-dppx: 3;
  }
  @media (min-resolution: 3.5x) {
    --size-dppx: 3.5;
  }
  @media (min-resolution: 4x) {
    --size-dppx: 4;
  }

  background-color: var(--color-box);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-background: color(display-p3 0.005 0.06 0.044);
    --color-text: color(display-p3 0.92 0.9 0.88);
    --color-h1: color(display-p3 0.975 0.898 0.834);
    --color-h3: color(display-p3 0.965 0.597 0.536);
    --color-bold: color(display-p3 0.995 0.944 0.886);
    --color-box: color(display-p3 0.003 0.075 0.054);
    --color-code: color(display-p3 0.635 0.689 0.985);
  }
}

* {
  text-indent: 0;
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-normal);
  line-height: 1.0;
  font-weight: normal;
  font-style: normal;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

@media (max-width: 600px) {
  :root {
    font-size: 17px;
  }
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.0;
  text-wrap: balance;
}

h1 {
  color: var(--color-h1);
}

h2, a {
  color: var(--color-h2);
  text-decoration-color: var(--color-small);
}

h3, h4 {
  color: var(--color-h3);
}

figcaption {
  text-wrap: pretty;
}

p {
  line-height: 1.47;
  color: inherit;
}

p code {
  font-family: var(--font-code);
}

code, pre, sup, sub {
  font-family: var(--font-code);
}

code, pre {
  hanging-punctuation: initial;
  hyphens: initial;
  word-break: normal;
  font-size: 1em;
}

b, strong {
  font-weight: 720;
  color: var(--color-bold);
}

i, em {
  font-style: oblique 15deg;
  font-variation-settings: "slnt" -15, "CRSV" 1;
}

:where(h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form) {
  margin: 0;
  padding: 0;
}
