@property --margin {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --padding {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

@property --width {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

.article {
  position: relative;
  text-rendering: geometricPrecision;

  display: grid;
  grid-template-columns: 1fr min(var(--width), 100%) 1fr;
  grid-template-rows: auto auto;

  grid-gap: 3cap 0;
  padding: 3cap 0 4cap;
  --width: calc(58ch + 3ch);
  --padding: 1.5ch;

  container: article / inline-size;

  & > * {
    grid-column: 1 / -1;
  }
}

.heading {
  padding: 0 var(--padding);
  grid-row: 1;

  h1 {
    font-size: 4.5em;
    font-weight: 940;
    font-variation-settings: "CRSV" 0, "CASL" 0.88;
    line-height: 0.9;
    padding-top: 1rem;
    color: var(--color-h1);
    opacity: 0.96;
  }

  h2 {
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: -0.03ch;
    color: var(--color-h2);
    background: var(--color-background);
    padding-right: calc((100% - var(--width)) / 4);
    margin-top: 1rem;
  }
}

.content {
  display: flow-root;
  --margin: max(calc(50cqw - var(--width) / 2), 0cqw);

  font-weight: 380;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  hyphens: auto;
  hanging-punctuation: first;
  hyphenate-limit-chars: 7 4 3;

  :where(& > *) {
    margin: 0 var(--margin) 0;
    padding: 0 var(--padding) 0;
  }

  :where(& > * + *) {
    margin-top: 1.65cap;
  }

  & > p {
    & + p {
      text-indent: var(--padding);
    }

    &:first-of-type::first-letter {
      float: left;
      font-size: 2lh;
      line-height: 1cap;
      font-weight: 670;
      padding-right: 0.2ch;
      margin-left: -0.07ch;
      margin-top: 0.2cap;
      color: var(--color-h2);
      font-stretch: 130%;
    }
  }

  hr {
    margin: 2cap auto;
    width: calc(var(--width) - 4 * var(--padding));
    border: none;
    border-top: 2px solid var(--color-h2);

    & + p:last-child {
      color: var(--color-gray-text);
      font-size: 0.8em;
    }
  }

  h2 {
    font-size: 2.2em;
    font-weight: 815;
    letter-spacing: -0.03ch;
    font-variation-settings: "CASL" 0.1;
    font-stretch: 104%;
    margin-top: 2cap;
    line-height: 1.1;
    color: var(--color-h2);
    text-indent: calc(-1 * min(var(--padding), var(--margin)));

    word-break: normal;
    hyphens: initial;
  }

  h3 {
    margin-top: 2cap;
    font-size: 1.6em;
    line-height: 1.2;
    color: var(--color-h3);
    text-indent: calc(-1 * min(var(--padding), var(--margin)));
    font-variation-settings: "CASL" 0.76;
    font-stretch: 105%;
    font-weight: 665;
  }
  
  p code, li code {
    color: var(--color-code);
    padding: 0 0.05ch;
    font-stretch: 140%;
    font-weight: 450;
  }

  a {
    color: var(--color-h2);
    text-decoration-line: underline;
    text-decoration-thickness: calc(2px / var(--size-dppx));
    text-decoration-color: var(--color-small);
    background-size: 100% 0;
    background-repeat: no-repeat;
    background-position: 0 1cap;

    transition:
      color 0.2s ease-out,
      text-decoration-color 0.1s ease-out,
      background-position 0.1s,
      background-size 0.1s;

    background-image: linear-gradient(
      to bottom,
      var(--color-small) 0%,
      var(--color-small) 100%
    );

    @media (prefers-reduced-motion) {
      &, &:hover {
        transition: none;
      }
    }

    @media (hover: hover) {
      &:hover {
        background-size: 100% calc(1cap + 0.833ch);
        background-position: 0 0;
        color: var(--color-background);
      }
    }
  }

  ol, ul {
    display: block;
    margin-top: 3cap;
    margin-bottom: 3cap;

    & > * {
      margin: 1cap 0;
    }

    & > li {
      position: relative;
      margin-left: calc(-1 * min(var(--padding), var(--margin)));
      padding-left: var(--padding);
      line-height: 1.2;

      &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        color: var(--color-h2);
        user-select: none;
      }
    }
  }

  ol {
    list-style-type: none;
    & > li:before {
      content: counter(list-item);
      left: -0.4ch;
    }
  }

  ul {
    list-style-type: none;
    & > li:before {
      top: 0.5em;
      content: '';
      vertical-align: middle;
      background: currentColor;
      width: 0.5ch;
      height: 0.5ch;
    }
  }

  pre > code {
    display: block;
    color: var(--color-small);
    max-width: var(--size-page);
    white-space: pre-wrap;
    font-size: 0.95em;
    line-height: 1.43;
    letter-spacing: 0.01ch;
    font-stretch: 140%;
    font-weight: 400;
  }

  picture, img {
    object-fit: contain;
    max-height: 100svh;
    width: 100%;
  }

  blockquote {
    color: var(--color-h3);
    font-weight: 580;
    font-stretch: 104%;
    font-variation-settings: "CASL" 0.9;
    text-wrap: pretty;

    word-break: normal;
    hyphens: initial;
    hanging-punctuation: initial;

    &:not(.pullquote) {
      padding: 2cap calc(2 * var(--padding));
    }

    & > p:first-child:before {
      display: inline-block;
      background-color: currentColor;
      width: 4ch;
      height: 0.7em;
      margin-right: 1ch;
      vertical-align: baseline;
      content: '';
    }

    & p {
      line-height: 1.19;
    }
  }

  table {
    position: relative;
    max-width: var(--size-page);
    border-collapse: separate;
    border-spacing: 0;

    tr td {
      padding: 0.5cap 1ch;
      border-bottom: 2px solid var(--color-box);
      max-width: calc(min(var(--width), 100cqw) - var(--padding));
      width: max-content;
    }

    th {
      padding: 0.7cap 2ch 0.7cap 1ch;
      background: var(--color-box);
      word-break: normal;
      hyphens: initial;
      font-family: var(--font-heading);
      text-align: left;
      color: var(--color-small);
    }

    tbody > tr:first-child td {
      padding-top: 1.4cap;
    }

    code {
      color: var(--color-code);
    }
  }
}

.img_alt {
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: var(--color-small);
  max-width: 65ch;
  text-align: center;
  font-size: 0.75em;
  line-height: 1.4;
  padding: 0 2ch;
  text-wrap: pretty;
}

.pullquote {
  font-size: 1.2em;
  font-variation-settings: "slnt" -5, "CASL" 0.78;
  font-style: oblique 5deg;
  float: right;
  max-width: calc(var(--margin) + 12ch);
  padding: 0.1ch 0 0 calc(2 * var(--padding));
  box-sizing: content-box;
  margin-right: var(--padding);
  margin-bottom: 1cap;
  margin-left: 0;

  @container (max-width: 1100px) {
    & {
      display: none;
    }
  }
}

.page_bleed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2cap;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  position: relative;
  margin: 4cap 0 4cap -50vw;
  margin-left: -50vw;
  padding: 0;
  width: 100vw;
  left: 50%;

  & > * {
    grid-column: 2;
    padding: 0 var(--padding);
    margin: 0 auto;
    min-width: min(var(--width), 100%);
    width: max-content;
  }
}

.article_bleed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding);

  margin: 4cap 0;
  width: 100%;

  p > & {
    position: relative;
    margin-left: -50cqw;
    width: 100cqw;
    left: 50%;
  }
}
