@font-face {
  font-family: 'hd';
  src: url('../assets/188_Pixel-100.woff2') format('woff2');
  font-synthesis: weight style small-caps;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bd';
  src: url('../assets/188_Pixel-70.woff2') format('woff2');
  font-synthesis: weight style small-caps;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dank Mono';
  src: url('../assets/dm-regular.woff2') format('woff2');
  font-synthesis: weight style;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  --font-heading: hd, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, 'Helvetica Neue', sans-serif;
  --font-body: bd, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  --font-code: 'Dank Mono', 'Fira Code', 'Fira Mono', monospace;
}

html, [data-theme="light"] {
  --color-text: #0a0b0c;
  --color-gray-background: #fff1f9;
  --color-gray-text: #26333b;
  --color-background: #ffffff;
  --color-box-background: #d0d1d2;
  --color-passive: #7e736c;
  --color-active: #e972b5;
  --color-pop: #d54f8d;

  --color-prism-bg: #fbfbfb;
  --color-prism-fg: #403f53;
  --color-prism-comment: #989fb1;
  --color-prism-identifier: #4876d6;
  --color-prism-variable: #c96765;
  --color-prism-number: #aa0982;
  --color-prism-punctuation: #994cc3;
  --color-prism-class: #111;
  --color-prism-keyword: #0c969b;
  --color-prism-boolean: #bc5454;

  --shadow:
    -0.5em -0.5em 0.8em 0 #fff8,
    -0.2em -0.2em 0.3em 0 #fff7,
    0.5em 0.5em 0.8em 0 #0002,
    0.2em 0.2em 0.3em 0 #0002,
    inset 0 0 0 0 #fff8,
    inset 0 0 0 0 #fff7,
    inset 0 0 0 0 #0002,
    inset 0 0 0 0 #0002;
  --shadow-inv:
    0 0 0 0 #fff8,
    0 0 0 0 #fff7,
    0 0 0 0 #0002,
    0 0 0 0 #0002,
    inset -0.5em -0.5em 0.8em 0 #fff8,
    inset -0.2em -0.2em 0.3em 0 #fff7,
    inset 0.5em 0.5em 0.8em 0 #0002,
    inset 0.2em 0.2em 0.3em 0 #0002;
}

@media screen and (prefers-color-scheme: dark) { html {
  --color-text: #d3d5cb;
  --color-invert: #e3e7ee;
  --color-gray-text: #cacfd3;
  --color-gray-background: #272b33;
  --color-background: #16170D;
  --color-box-background: #110c0c;
  --color-passive: #867a72;
  --color-active: #51ffb5;

  --color-prism-bg: #09121a;
  --color-prism-fg: #d6deeb;
  --color-prism-comment: #5389a9;
  --color-prism-identifier: #82aaff;
  --color-prism-variable: #d6deeb;
  --color-prism-number: #f78c6c;
  --color-prism-punctuation: #c792ea;
  --color-prism-class: #ffcb8b;
  --color-prism-boolean: #ff5874;

  --shadow:
    -0.5em -0.5em 0.8em 0 #fff1,
    -0.2em -0.2em 0.3em 0 #fff1,
    0.5em 0.5em 0.8em 0 #0005,
    0.2em 0.2em 0.3em 0 #0004,
    inset 0 0 0 0 #fff1,
    inset 0 0 0 0 #fff1,
    inset 0 0 0 0 #0004,
    inset 0 0 0 0 #0003;
  --shadow-inv:
    0 0 0 0 #fff1,
    0 0 0 0 #fff1,
    0 0 0 0 #0004,
    0 0 0 0 #0003,
    inset -0.5em -0.5em 0.8em 0 #fff1,
    inset -0.2em -0.2em 0.3em 0 #fff1,
    inset 0.5em 0.5em 0.8em 0 #0004,
    inset 0.2em 0.2em 0.3em 0 #0003;
}}

[data-theme="dark"] {
  --color-text: #d3d5cb;
  --color-invert: #e3e7ee;
  --color-gray-text: #cacfd3;
  --color-gray-background: #272b33;
  --color-background: #16170D;
  --color-box-background: #110c0c;
  --color-passive: #867a72;
  --color-active: #51ffb5;

  --color-prism-bg: #09121a;
  --color-prism-fg: #d6deeb;
  --color-prism-comment: #5389a9;
  --color-prism-identifier: #82aaff;
  --color-prism-variable: #d6deeb;
  --color-prism-number: #f78c6c;
  --color-prism-punctuation: #c792ea;
  --color-prism-class: #ffcb8b;
  --color-prism-boolean: #ff5874;

  --shadow:
    -0.5em -0.5em 0.8em 0 #fff1,
    -0.2em -0.2em 0.3em 0 #fff1,
    0.5em 0.5em 0.8em 0 #0005,
    0.2em 0.2em 0.3em 0 #0004,
    inset 0 0 0 0 #fff1,
    inset 0 0 0 0 #fff1,
    inset 0 0 0 0 #0004,
    inset 0 0 0 0 #0003;
  --shadow-inv:
    0 0 0 0 #fff1,
    0 0 0 0 #fff1,
    0 0 0 0 #0004,
    0 0 0 0 #0003,
    inset -0.5em -0.5em 0.8em 0 #fff1,
    inset -0.2em -0.2em 0.3em 0 #fff1,
    inset 0.5em 0.5em 0.8em 0 #0004,
    inset 0.2em 0.2em 0.3em 0 #0003;
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
  line-height: 1.0;
  font-weight: normal;
  font-style: normal;
  font-size: 23px;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
  margin: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 19px;
  }
}

a {
  color: var(--color-active);
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 0.9;
}

code, pre, sup, sub {
  font-family: var(--font-code);
}

code, pre {
  font-size: 1em;
}

b, strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
  margin: 0;
  padding: 0;
}
